<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{ "Ponder" }}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
    {% endblock %}
    {% block canonical_meta %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    {% block nav %}{% endblock %}
</nav>

{#post example#}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 post-block">
            <div class="panel panel-default center-block">
                <div class="panel-heading">
                    <ul class="list-inline">
                        <li class="user-name"><a>User123:</a></li>
                        <li >Adoption?</li>
                        <li class="pull-right post-time">15 min</li>
                    </ul>
                </div>
                <div class="crop panel-images row">
                    <label for="radio-1">
                        <input id="radio-1" type="radio" name="post-1" value="left" />
                        <img src="images/opt1.jpg">
                    </label>
                    <label for="radio-2">
                        <input id="radio-2" type="radio" name="post-1" value="right" />
                        <img src="images/opt2.jpg">
                    </label>
                </div>
                <div class="panel-body post-tags">
                    <a class="pointable">#kittens</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 post-block">
            <div class="panel panel-default center-block">
                <div class="panel-heading">
                    <ul class="list-inline">
                        <li class="user-name"><a>Slim_Shady:</a></li>
                        <li ></li>
                        <li class="pull-right post-time">1 h</li>
                    </ul>
                </div>
                <div class="crop panel-images row">
                    <label for="radio-3">
                        <input id="radio-3" type="radio" name="post-2" value="left" />
                        <img src="images/opt3.jpg">
                    </label>
                    <label for="radio-4">
                        <input id="radio-4" type="radio" name="post-2" value="right" />
                        <img src="images/opt4.jpg">
                    </label>
                </div>
                <div class="panel-body post-tags">
                    <a class="pointable">#street</a>
                    <a class="pointable">#style</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    {% block container %}
        {% block body %}
        {% endblock %}
    {% endblock %}
</div>
{% block footer %}
    {% include "::inc/footer.html.twig" %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}
</body>
</html>