{% extends "::base.html.twig" %}

{% block title %} Main - {{ parent() }}{% endblock %}

    {% block content %}
        <div id="wrapper" class="row">
            <div class="col-sm-3">
                <div class="row">
                    <div style="height: 200px; background: lightgreen none repeat scroll 0% 0%;">random text</div>
                    <div style="height: 250px; background: pink none repeat scroll 0% 0%;">random text</div>
                    <div style="height: 200px; background: orange none repeat scroll 0% 0%;">random text</div>
                    <div style="height: 200px; background: green none repeat scroll 0% 0%;">random text</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div style="height: 250px; background: maroon none repeat scroll 0% 0%;">random text</div>
                    <div style="height: 250px; background: yellow none repeat scroll 0% 0%;">random text</div>
                    <div style="height: 150px; background: magenta none repeat scroll 0% 0%;">random text</div>
                    <div style="height: 200px; background: lightgray none repeat scroll 0% 0%;">random text</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div style="height: 150px; background: gold none repeat scroll 0% 0%;">random text</div>
                    <div style="height: 200px; background: lightblue none repeat scroll 0% 0%;">random text</div>
                    <div style="height: 250px; background: purple none repeat scroll 0% 0%;">random text</div>
                    <div style="height: 200px; background: brown none repeat scroll 0% 0%;">random text</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div style="height: 200px; background: red none repeat scroll 0% 0%;">random text</div>
                    <div style="height: 150px; background: green none repeat scroll 0% 0%;">random text</div>
                    <div style="height: 250px; background: blue none repeat scroll 0% 0%;">random text</div>
                    <div style="height: 100px; background: lightyellow none repeat scroll 0% 0%;">random text</div>
                </div>
            </div>
        </div>
    {% endblock %}