{% extends "AppBundle:Admin:index.html.twig" %}

{% block title %}AppBundle:Admin:disableUser{% endblock %}

{% block page_content %}
    <h1>Welcome to the Admin:disableUser page</h1>
    <p>disabling user with user id: {{ id }}</p>
{% endblock %}
