{% extends "::base.html.twig" %}

{% block title %}AppBundle:Admin:editUser{% endblock %}

{% block body %}
    <h1>Welcome to the Admin:editUser page</h1>
    <p>editing user with user id: {{ id }}</p>
{% endblock %}
