{% extends 'AvanzuAdminThemeBundle:layout:login-layout.html.twig' %}

{% block page_content %}
    <div class="login-box">
        <div class="login-logo">
            <a href="{{ path('admin_login') }}"><b>Ponder</b> admin</a>
        </div><!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>
            {% if error %}
                <p style="color: red; text-align: center">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
            {% endif %}
            <form action="{{ path('admin_login') }}" method="post">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" name="_username" placeholder="Email"
                           value="{{ last_username }}"/>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" name="_password" placeholder="Password"/>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div><!-- /.col -->
                </div>
            </form>

        </div><!-- /.login-box-body -->
    </div>
{% endblock %}