{% extends "AppBundle:Admin:index.html.twig" %}

{% block title %}AppBundle:Admin:removePost{% endblock %}

{% block page_content %}
    <h1>Welcome to the Admin:removePost page</h1>
    <p>remove post with id: {{ id }}</p>
{% endblock %}
