{% extends "::base.html.twig" %}

{% block title %}AppBundle:Admin:removePost{% endblock %}

{% block body %}
    <h1>Welcome to the Admin:removePost page</h1>
    <p>remove post with id: {{ id }}</p>
{% endblock %}
