<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row">
        <div id="nav-head" class="navbar-header col-md-4 col-sm-4 col-xs-6 center-nav">
            <a class="navbar-brand pull-right" href="{{ path('homepage') }}">
            <span>
                <img id="qm" class="img-responsive2" src="{{ asset('images/qm.png') }}">
                ponder
            </span>
            </a>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 text-center center-nav search-box">
            <form class="navbar-form" role="search" action="{{ path('search') }}">
                <div id="imaginary_container">
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control" placeholder="Search" id="search" name="tag" autofocus>
                        <span class="input-group-addon" id="custom-search-btn">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>

<div class="modal fade" id="account-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title" id="myModalLabel">
                    <span>
                    <img id="qm" class="img-responsive2" src="{{ asset('images/qm.png') }}"> ponder
                    </span>
                </h2>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->