
<div class="form-group">
<form id="myDropzone" class="dropzone">
    <div class="dropzone-previews"></div>
    <label for="title">Title: </label><br>
    <input type="text" name="title" id="title"><br>
    <label for="category">Category name: </label>
    <input type="text" name="category" id="category"><br>
</form>
    <button type="submit" id="submit-all" class="btn btn-success">Submit data and files!</button>
</div>
