
<div class="form-group">
<form id="myDropzone" class="dropzone">
    <div class="dropzone-previews"></div>
    <label for="title">Title: </label><br>
    <input type="text" name="title" id="title" class="form-control input-lg"><br>
    <label for="category">Category name: </label><br>
    <input type="text" name="category" id="category" class="form-control input-lg"><br>
</form>
    <button type="submit" id="submit-all" class="btn btn-success btn-block">Submit!</button>
</div>
